html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 239, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 239, 255));
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    text-align: center;
    padding-bottom:50px;
}
h1{
    text-align: center;
    font-size: 56px; 
    color: #20262e;
    font-weight: 800;
    font-family: system-ui;
}
.description{
    text-align: center;
    font-family: system-ui;
    color: #545c66;
    font-size: 20px;
    font-weight: 400;
}
.container{
    margin: auto;
    padding-top: 120px;
}
.btn.btn-secondary.btn-lg.btn-block {
    background-color: rgb(130, 46, 255);
  }
  #monicaVideo {
    width: 650pt;
    height:auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}

#monicaVideo::-webkit-media-controls {
    display: none !important;
}

#monicaVideo::-moz-media-controls {
    display: none !important;
}

#monicaVideo::-ms-media-controls {
    display: none !important;
}
